@import "../colors";

.nbsp-ui-tag {
  margin: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 0 5px 0 5px;
  border: 1px solid;
  border-radius: 2px;
  height: fit-content;
  transition: 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    text-indent: 2px;
    box-shadow: 0 0 5px 1px $grey-300;
  }
}