@import "../colors";

.nbsp-ui-tag {
  padding: 2px 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border: 1px solid;
  border-radius: 2px;

  display: flex;
  align-items: center;

  .spacer {
    width: 4px;
  }

  .close {
    padding: 2px;
    cursor: pointer;
  }

  &-clickable {
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s, box-shadow .2s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);;
      transform: scale(1.05);
    }
  }
}