@import "../colors";

.nbsp-ui-menu {

  &-item {
    display: flex;
    font-family: "Roboto", sans-serif;
    padding: 5px;
    color: $light-text-color;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    cursor: pointer;
    transition: .2s linear border-right-color, .2s linear background-color;

    &:hover {
      background-color: $default-hover-color;
    }

    &-selected {
      color: $accent-color;
      background-color: $blue-50;
      box-shadow: 0 0 2px #90CAF9 inset;
    }

    .expand-icon {
      transition: .2s linear;
      transform: rotate(0deg);
    }

    &-expanded {

      .expand-icon {
        transform: rotate(90deg);
      }

    }

  }

  .submenu-content {
    overflow: hidden;
    transition: .2s linear max-height, .2s linear opacity;
  }

}