@import "../colors";

.nbsp-ui-list {
  font-family: "Roboto", sans-serif;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-200;
    border-radius: 3px;

    &:hover {
      background-color: $grey-300;
    }

  }

  & > .item:hover {
    cursor: pointer;
    background-color: $grey-100;
    box-shadow: 0 0 5px 1px $grey-50;
  }

  & > .item {
    border-left: 1px solid transparent;
    border-top: 1px solid #EEEEEE;
    color: $light-text-color;
    padding: 7px 0 7px 0;

    &-selected {
      border-left: 1px solid $accent-color;
      background-color: $blue-50;
    }
  }
}