@import "../colors";

.nbsp-ui-list {
  font-family: "Roboto", sans-serif;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-200;
    border-radius: 3px;

    &:hover {
      background-color: $grey-300;
    }

  }

  & > div {
    border-left: 2px solid transparent;
    color: $light-text-color;
    cursor: pointer;

    &:hover {
      background-color: $default-hover-color;
    }
  }

  .selected {
    border-left-color: $accent-color;
    background-color: #F5F5F5;
  }
}