@import "../colors";

.nbsp-ui-tabs {

  .header {
    overflow: hidden;

    .item {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      padding: 10px;
      text-align: center;
      color: $light-text-color;
      border: 1px solid rgba($light-text-color, 0.5);
      border-right: none;
      transition: .2s linear color;

      &:first-child {
        border-radius: 10px 0 0 10px;
      }

      &:last-child {
        border-radius: 0 10px 10px 0;
        border-right: 1px solid rgba($light-text-color, 0.5);
      }

      &:hover {
        cursor: pointer;
      }

      &-selected {
        color: $accent-color;
        border: 1px solid $accent-color;
        background-color: $blue-50;
      }

      &-selected + .item {
        border-left: none;
      }

      &-selected:last-child {
        border-right: 1px solid $accent-color;
      }

      .icon {
        display: inline;
        font-size: 1em;
        transition: .2s linear;
      }

      .close {
        position: absolute;
        display: inline;
        font-size: 0.5em;
        transform: translate(2px, -10px);
        transition: .2s linear;

      }
    }

  }
}