@import "../colors";

.nbsp-ui-tabs {
  overflow: hidden;
  display: flex;

  & > div {
    height: 32px;
    margin-right: 2px;
    color: $light-text-color;

    .content {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 8px;
      border: 1px solid lighten($border-color, 1%);
      box-sizing: border-box;

      p {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
      }

      i {
        margin-right: 6px;
        font-size: 16px;
      }
    }

    .after {
      display: flex;
      align-items: center;
      padding: 0 12px;
      height: 100%;
      border: 1px solid lighten($border-color, 10%);
      border-left: none;
      box-sizing: border-box;
      font-size: 16px;
    }

    .cap {
      width: 1px;
      height: 100%;
      background-color: $light-text-color;
    }

    &:first-child {
      .content {
        border-left: 1px solid lighten($border-color, 1%);
        border-top-left-radius: 4px;
      }
    }

    &:last-child {
      .content {
        border-top-right-radius: 4px;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    color: $accent-color;

    .content {
      border-color: $accent-color;
      background-color: lighten($accent-color, 40%);
    }

    .after {
      border-color: lighten($accent-color, 10%);
    }
  }
}