.nbsp-ui-outer-loader {

  & > .lay {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255, 0.5);
    color: white;
  }
  
  & > .loader {
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
  
}