@import "../colors";

.nbsp-ui-switch {
  cursor: pointer;
  display: flex;
  align-items: center;

  .control {
    position: relative;
    min-width: 36px;
    height: 18px;
    border: 1px solid $border-color;
    border-radius: 9px;
    transition: background-color .2s, border-color .2s;
  }

  .cap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    > .spacer {
      flex-grow: 0;
      transition: flex-grow .2s;
    }
  }

  .thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $border-color;
    transition: background-color .2s;
  }

  .label {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $light-text-color;
  }

  > .spacer {
    width: 8px;
  }

  &:hover {
    .control {
      border-color: $accent-color;
    }

    .thumb {
      background-color: darken($border-color, 10%);
    }
  }

  &-checked {
    .control {
      background-color: $accent-color;
      border-color: $accent-color;
    }

    .cap {
      > .spacer {
        flex-grow: 1;
      }
    }

    .thumb {
      background-color: #FFFFFF;
    }

    &:hover {
      .thumb {
        background-color: #FFFFFF;
      }
    }
  }
}