@import "../colors";

.nbsp-ui-switch {
  display: flex;
  cursor: pointer;

  .control {
    position: relative;

    min-width: 36px;
    height: 18px;
    border: 1px solid $border-color;
    border-radius: 9px;

    transition: background-color .4s, border-color .4s;

    .shape {
      position: absolute;

      width: 14px;
      height: 14px;
      border-radius: 50%;

      transition: margin-left .4s;

      background-color: $border-color;
    }
  }

  &-checked {
    .control {
      background-color: $accent-color;
      border-color: $accent-color;

      .shape {
        background-color: #FFFFFF;
        transform: translateX(100%);
      }
    }
  }
}