@import "../colors";

.nbsp-ui-selector {
  font-family: "Roboto", sans-serif;
  position: relative;
  user-select: none;

  & > .nbsp-ui-popup > .content > .toolbar {
    .selectAllIcon {
      font-size: 16pt;
    }
  }
}