@import ../colors
@import ../values
@import ../atomic

$height: 2em

.nbsp-ui-selector
  +flex-center-v
  +font-default
  position: relative
  height: $height
  user-select: none
  cursor: pointer

  .divider
    +not-shrink
    width: 100%
    height: 1px
    background-color: #E0E0E0

  & > .label
    +text-light
    +not-shrink
    margin: 0
    font-size: 1em
    padding-right: .4em
    box-sizing: border-box

  & > input
    +rounded-left-default
    +text-light
    +background-smooth
    width: 100%
    height: 100%
    padding: .2em .8em
    border: none
    outline: none
    box-sizing: border-box
    font-size: .9em
    cursor: pointer
    user-select: none
    -webkit-user-select: none

    &::placeholder
      color: $placeholder-light

  & > .icon
    +flex-center
    +not-shrink
    +rounded-right-default
    +background-smooth
    +icon-light
    width: 2.5em
    height: 100%

    svg
      width: 1.2em
      height: 1.2em

  & > .popup
    +background-light
    +shadow-light
    display: none
    position: absolute
    top: calc(#{$height} + .4em)

    &-showed
      +layout-flex-column

  &-opened
    & > .label
      +text-accent

    & > input
      +background-accent
      +text-dark
      +placeholder-dark

    & > .icon
      +background-accent
      +icon-dark