@import "../colors";

.nbsp-ui-progress {
  position: relative;

  &:after {
    content: attr(data-progress);
    font-family: "Roboto", sans-serif;
    color: #757575;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: calc(50% - 0.5em)
  }

  svg {

    .track {
      stroke: lighten($accent-color, 30%);
    }

    .stroke {
      stroke: $accent-color;
    }

  }
}