@import '../colors';

.nbsp-ui-calendar {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  user-select: none;

  p {
    margin: 0;
    color: $light-text-color
  }

  .header {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      cursor: pointer;

      p {
        display: inline-block;
        font-size: 16px;
        transition: color .2s;
      }

      p:not(:last-child) {
        margin-right: 8px;
      }

      .month-number {
        color: $light-secondary-text-color
      }

      &:hover {
        p {
          color: $light-contrast-text-color;
        }
      }

      &:active {
        p {
          color: $light-text-color;
        }
      }
    }

    .prev-month, .next-month {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      font-size: 16px;
    }
  }

  .years-months {
    margin-bottom: 8px;

    .years {
      overflow: hidden;
      border-top: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;

      .content {
        display: flex;
        transition: transform .2s;

        p {
          width: 60px;
          min-width: 60px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          box-sizing: border-box;
        }

        .current {
          color: $accent-color;
        }

        .viewed {
          background-color: $accent-color;
          border-color: $accent-color;
          color: $dark-text-color;
        }
      }
    }

    .months {
      display: grid;

      p {
        text-align: center;
        line-height: 40px;
        border: 1px solid transparent;
      }

      .current {
        color: $accent-color;
      }

      .viewed {
        background-color: $accent-color;
        border-color: $accent-color;
        color: $dark-text-color;
      }
    }

    .months-up {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 40px);
    }

    .months-down {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 40px);
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 40px);

    p {
      text-align: center;
      line-height: 40px;
    }

    .day {
      color: $light-contrast-text-color;
    }

    .date {
      border: 1px solid transparent;

      &-out {
        color: $light-secondary-text-color;
      }

      &-current {
        border-color: $accent-color;
        color: $accent-color;
      }

      &-selected {
        background-color: $accent-color;
        border-color: $accent-color;
        color: $dark-text-color;
      }
    }
  }
}