@import "../colors";

.nbsp-ui-upload {

  input {
    display: none;
  }

  .item {
    font-family: "Roboto", sans-serif;
    font-size: 10pt;
    color: $light-text-color;
    cursor: pointer;

    &:hover {
      background-color: $default-hover-color;
    }
  }

}