@import "../colors";

.nbsp-ui-pivot-table {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &-editable {
    p {
      user-select: none;
      -webkit-user-select: none;
    }
  }
}