.nbsp-ui-pivot-table-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 8px;

  p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
}