$light-text-color: #757575;
$light-contrast-text-color: #212121;
$light-secondary-text-color: #BDBDBD;

$dark-text-color: #FAFAFA;
$dark-secondary-text-color: #E0E0E0;

$accent-color: #1E88E5;
$accent-color-dark-0: #1976D2;
$accent-color-dark-1: #1565C0;

$disabled-background-color: #EEEEEE;
$disabled-color-0: #9E9E9E;
$disabled-color-1: #BDBDBD;
$placeholder-color: #BDBDBD;

$default-hover-color: #0000001A;
$default-active-color: #00000026;

$border-color: #BDBDBD;

$light-background-color: #FFFFFF;