$light-text-color: #757575;
$light-contrast-text-color: #212121;
$light-secondary-text-color: #BDBDBD;

$dark-text-color: #FAFAFA;
$dark-secondary-text-color: #E0E0E0;

$accent-color: #1E88E5;
$accent-color-dark-0: #1976D2;
$accent-color-dark-1: #1565C0;

$disabled-background-color: #EEEEEE;
$disabled-color-0: #9E9E9E;
$disabled-color-1: #BDBDBD;
$placeholder-color: #BDBDBD;

$default-hover-color: #0000001A;
$default-active-color: #00000026;

$border-color: #BDBDBD;

$light-background-color: #FFFFFF;

$grey: #9E9E9E;
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$orange-50: #FFF3E0;
$orange-200: #FFCC80;
$orange-600: #FB8C00;

$red-50: #ffebee;
$red-200: #ef9a9a;
$red-600: #E53935;

$green-50: #E8F5E9;
$green-200: #A5D6A7;
$green-600: #43A047;

$blue-50: #E3F2FD;
$blue-200: #90CAF9;
$blue-600: #1E88E5;