@import "../colors";
@import "../values";

.nbsp-ui-table {
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  & > .header {
    & > .container {
      & > div {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        transition: background-color .2s, border-color .2s;
        cursor: default;

        user-select: none;
        -webkit-user-select: none;
      }

      & > div:first-child {
        border-left: 1px solid $border-color;
        border-top-left-radius: $default-border-radius;
      }

      & > div:last-child {
        border-right: 1px solid $border-color;
        border-top-right-radius: $default-border-radius;
      }

      & > div:not(:last-child) {
        border-right: 1px solid #EEEEEE;
      }

      .clickable {
        cursor: pointer;

        &:active {
          background-color: $default-active-color;
        }
      }

      .hovered {
        background-color: $default-hover-color;
      }

      .sorted-by-asc {
        border-bottom-color: $accent-color;
      }

      .sorted-by-desc {
        border-top-color: $accent-color;
      }
    }

    & > .resizer {
      position: absolute;
      width: 3px;
      background-color: $accent-color;
      cursor: col-resize;
      user-select: none;
    }

    & > .shadow {
      position: absolute;
      background-color: #FFFFFF;
      border: 1px solid $accent-color;
      cursor: grabbing;
      pointer-events: none;
    }
  }

  & > .rows {
    & > .row:not(:last-child) > div {
      border-bottom: 1px solid #EEEEEE;
    }

    & > .row > div:first-child {
      border-left: 1px solid $border-color;
    }

    & > .row > div:last-child {
      border-right: 1px solid $border-color;
    }

    & > .row > div:not(:last-child) {
      border-right: 1px solid #EEEEEE;
    }

    & > .row-selected > div {
      background-color: #F5F5F5;
    }

    & > .row-selected > div:first-child {
      border-left: 1px solid $accent-color;
    }

    & > .row-selected > div:last-child {
      border-right: 1px solid $accent-color;
    }

  }

  & > .footer {
    border-top: 1px solid $border-color;

     & > div:first-child {
       border-left: 1px solid $border-color;
     }

    & > div:last-child {
      border-right: 1px solid $border-color;
    }

    & > div:not(:last-child) {
      border-right: 1px solid #EEEEEE;
    }
  }
}